/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) { 
    .navbar_ligo_img { height: 30px;}
.header_section_slider_img_1 {
    background-image: url(../Images/section-1-slider-1.jpg);
    background-position: center;
    height: 580px;
    background-size: 130%;
}
.header_section_slider_img_2 {
    background-image: url(../Images/section-1-slider-2.jpg);
    background-position: center;
    height: 580px;
    background-size: 130%;
}
.header_section_slider_img_3 {
    background-image: url(../Images/section-1-slider-3.jpg);
    background-position: center;
    height: 580px;
    background-size: 130%;
}
.section_exelent {
    font-size: 18px;
}
.section_about {
    background-image: url(../Images/section_providing_bg_img.jpg);
    background-position: center;
    height: 175px;
    background-size: 130%;
}
.section_about_text {
    font-size: 10px;
}
.section_about_text_h4 {
    font-size: 8px;
}
.section_about_text_para {
    font-size: 6px;
}
.criative_work_img {
    width: 300px;
    height: 250px;
}
.section_8_slider_of_creative_img {
    height: 400px;
width: 400px; 
}
.bagckgrownd_image_blog_1 {
    background-image: url(../Images/section_8_blog_img_1.jpg);
    background-position: center;
    height: 200px;
    background-size: 210%;
}
.section_9_svg {
    height: 50px;
    width: 50px;
}
.bagckgrownd_image_blog_2 {
    background-image: url(../Images/section_8_blog_img_2.jpg);
    background-position: center;
    height: 200px;
    background-size: 210%;
}
.section_9_svg {
    height: 50px;
    width: 50px;
}
.bagckgrownd_image_blog_3 {
    background-image: url(../Images/section_8_blog_img_3.jpg);
    background-position: center;
    height: 200px;
    background-size: 210%;
}
.section_9_svg {
    height: 50px;
    width: 50px;
}
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 425px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 768px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) {
    .navbar_ligo_img { height: 30px;}
.header_section_slider_img_1 {
    background-image: url(../Images/section-1-slider-1.jpg);
    background-position: center;
    height: 580px;
    background-size: 130%;
    width: 100%;
}
.header_section_slider_img_2 {
    background-image: url(../Images/section-1-slider-2.jpg);
    background-position: center;
    height: 580px;
    background-size: 130%;
    width: 100%;
}
.header_section_slider_img_3 {
    background-image: url(../Images/section-1-slider-3.jpg);
    background-position: center;
    height: 580px;
    background-size: 130%;
    width: 100%;
}
.section_exelent {
    font-size: 40px;
}
.section_about {
    background-image: url(../Images/section_providing_bg_img.jpg);
    background-position: center;
    height: 600px;
    background-size: 130%;
}
.section_about_text {
    font-size: 45px;
}
.section_about_text_h4 {
    font-size: 25px;
}
.section_about_text_para {
    font-size: 17px;
}
.criative_work_img {
    width: 300px;
    height: 250px;
}
.section_8_slider_of_creative_img {
    height: 400px;
width: 400px; 
}
.bagckgrownd_image_blog_1 {
    background-image: url(../Images/section_8_blog_img_1.jpg);
    background-position: center;
    height: 200px;
    background-size: 210%;
}
.section_9_svg {
    height: 50px;
    width: 50px;
}
.bagckgrownd_image_blog_2 {
    background-image: url(../Images/section_8_blog_img_2.jpg);
    background-position: center;
    height: 200px;
    background-size: 210%;
}
.section_9_svg {
    height: 50px;
    width: 50px;
}
.bagckgrownd_image_blog_3 {
    background-image: url(../Images/section_8_blog_img_3.jpg);
    background-position: center;
    height: 200px;
    background-size: 210%;
}
.section_9_svg {
    height: 50px;
    width: 50px;
}
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1440px ) { }